@page "/"
@page "/dashboard"

<h1>Dashboard</h1>

<p>Welcome to the SNP Nucleus app.</p>
<p>
    <strong>Dashboard (In Progress) </strong>
</p>

<p>
     charts  <br />
    Check out <a href="https://github.com/Joelius300/ChartJSBlazor" target="_blank">https://github.com/Joelius300/ChartJSBlazor</a> and you will find a great resource for animated charts for a dashboard.<br />
</p>
<hr />

<MatSnackbar IsOpen="true">
    <MatSnackbarContent>Check our CSP Portal, <a href="https://snpcspwebstore.azurewebsites.net/#Home" target="_blank">star on GitHub</a>.</MatSnackbarContent>
    <MatSnackbarActions>
        <MatIconButton Icon="@MatIconNames.Stars" Link="https://snpcspwebstore.azurewebsites.net/#Home" style="color: white !important;" target="_blank"></MatIconButton>
    </MatSnackbarActions>
</MatSnackbar>
